<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="default_init"			
	default-destroy-method="default_destroy"			
				>
<!-- 	객체가 생성될 때 생성자가 호출된 이후 init-method에 설정한 메소드가 자동으로 호출되고 IoC컨테이너의
	close메소드를 호출하면 객체가 소멸되며 destroy-method에 설정한 메소드가 자동으로 호출된다. -->
	
<!-- 	<bean id='t1' class='kr.co.ezenac.beans.TestBean1'></bean> -->
<!-- 	<bean id='t1' class='kr.co.ezenac.beans.TestBean1' lazy-init='true'></bean>객체생성x -->
		
<!-- 	<bean id='t1' class='kr.co.ezenac.beans.TestBean1' lazy-init='true' init-method='bean1_init'></bean> -->
	<bean id='t1' class='kr.co.ezenac.beans.TestBean1' lazy-init='true' init-method='bean1_init' destroy-method="bean1_destroy"></bean>
		
	<bean id='t2' class='kr.co.ezenac.beans.TestBean2' lazy-init='true'></bean>
	
	<bean id='t3' class='kr.co.ezenac.beans.TestBean3' lazy-init='true' init-method='bean3_init' destroy-method='bean3_destroy'></bean>
	
	<bean id='t4' class='kr.co.ezenac.beans.TestBean4' lazy-init='true'></bean>
</beans>	